@model List<Sale>

@{
    ViewData["Title"] = "List Page";
}


<h2>Sales</h2>

<br />



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Sale Date</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Product.Name</td>
                <td>@(sale.Product.ProductType == 'F' ? "Food" : "Medicine")</td>
                <td>@sale.Quantity</td>
                <td>@sale.Price&#8378</td>
                <td>@sale.SaleDate</td>
            </tr>

        }
    </tbody>
</table>